.clear { clear: both; }
html { font: 62.5%/1.5 "Lucida Grande", Verdana, sans-serif; }
ul, ol, dl, p { margin-bottom: 1.5em; margin-left: 10px; font-size: 12px;}
ul, ol, dl, p { margin-bottom: 1.5em; }
ul, ol, dl { margin-bottom: 1.8em; }
p { margin-bottom: 1.5em; }

body { background: #a1c2dd url(../images/topbg.png) repeat-x; }

#header { height: 120px; }

#wrapper { background: url(../images/mainbg.png) repeat-y;  top: 120px; }
	#menubar { background: url(../images/menubg.png) no-repeat; height: 33px; padding-top: 10px; overflow: hidden; }
		#menu { font-weight: bold; text-transform: uppercase; width: 600px; margin-left: 20px; margin-top: 10px; width: 600px; float: left; }
			#menu li { display: inline; list-style: none; margin-left: 20px;  }
			#menu a { color: white; text-decoration: none; font-size: 0.8em; }
		#searchbox { border: 2px solid #767676; background: white; float:right; margin: 5px 20px 0px 0px; 
					 color: #767676; width: 140px; height: 16px; padding-right: 20px; font-weight: bold;
					 background: white url(../images/searchicon.png) center right no-repeat; }
		#searchbox:focus { border: 2px solid #a2c2dd; }
	#pathbar { background: #484e54; height: 32px; color: #ccc; }
		#pathbar .cart { width: 200px; float: right; text-align: right; padding-right: 20px; margin-top: 5px; }
		#pathbar .cart img { vertical-align: middle; }
	#sidebar { background: white; }
	#content { background: white; padding-bottom: 20px;  }

.category li { font-size: 14px; margin-bottom: 5px; }
.category ul li { list-style: circle; margin-left: 20px; }
.newcategory { font-size: 14px; padding: 2px; width: 100px; border: 1px solid #ddd; }

#messages { border: 2px solid red; text-align: center; padding: 10px 10px 10px 10px; margin: 0px 40px 20px 0px; }
#messages p { margin: 0; padding: 0; }

h1 { font-family: "Trebuchet MS"; width: 95%;  }

.list { margin-top: 20px; margin-left: 0px; width: 95%; }
.detail {  }
	.detail .header { background: #484e54; color: white; line-height: 1.2em; font-weight: bold; height: 16px; border-top: 1px solid black; border-bottom: 1px solid black;}
	.detail .product {  height: 20px; border-bottom: 1px solid #a1c2dd; clear: both; padding: 5px 0px 5px 0px; line-height: 0.8em; padding-left: 2%; }
		.detail .product span { display:block; float: left; }
		.detail .product .name { width: 80%; }
		.detail .header .name { line-height: 1.5em; }
		.detail .product .price { width: 10%; text-align: center;  line-height: 1.5em;}
		.detail .product .cart { width: 8%; text-align: right; margin-right: 2%; color: #999; line-height: 1.5em;}
		.detail .product small { color: #a1c2dd; font-size: 0.8em; }

.categories { margin-left: 10px; margin-top: 20px; }
	.categories li { font-weight: bold; }
	.categories ul { margin: 0 0 10px 10px; }
		.categories ul li { font-weight: normal; font-size: 0.9em; }


